@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Heaven on Wings, is a flight booking website that presents customers with the best air-fares and travel packages. We create lucrative trips and travel packages for customers based on their needs so that they end up having a heavenly experience.</p>
