@{
    ViewBag.Title = "Support";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Monash University<br />
    Caulfield, Victoria<br />
    <abbr title="Phone">P:</abbr>
    422970834
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@heavenonwings.com</a><br />
</address>